{{- if and site.Params.giscus.repo site.Params.giscus.repoId }}
{{- $giscusLang := cond (eq .Lang "zh-cn") "zh-CN" "en" }}
<div class="giscus"></div>
<script src="https://giscus.app/client.js"
    data-repo="{{ site.Params.giscus.repo }}"
    data-repo-id="{{ site.Params.giscus.repoId }}"
    data-category="{{ site.Params.giscus.category }}"
    data-category-id="{{ site.Params.giscus.categoryId }}"
    data-mapping="{{ site.Params.giscus.mapping | default "pathname" }}"
    data-strict="0"
    data-reactions-enabled="{{ site.Params.giscus.reactionsEnabled | default 1 }}"
    data-emit-metadata="0"
    data-input-position="{{ site.Params.giscus.inputPosition | default "top" }}"
    data-theme="{{ site.Params.giscus.theme | default "preferred_color_scheme" }}"
    data-lang="{{ $giscusLang }}"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
</script>
{{- end }}
